# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/doksummz/forms.techservice.ng"
PassengerBaseURI "/"
PassengerNodejs "/home/doksummz/nodevenv/forms.techservice.ng/20/bin/node"
PassengerAppType node
PassengerStartupFile index.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
RewriteEngine on
RewriteCond %{HTTP_HOST} ^forms\.techservice\.ng$ [OR]
RewriteCond %{HTTP_HOST} ^www\.forms\.techservice\.ng$
RewriteRule ^(.*)$ "https\:\/\/form\.techservice\.ng\/$1" [R=301,L]